# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

logs/mala.log
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_google_guava_guava_19_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_0_5_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
SpringLesson.iml
target/
